{% set url = path('products_show', {'slug': product.slug}) %}
<div class="col-md-4 my-2">
    <div class="card mb-3" style="height: 100%">
        <a href="{{ url }}">
            <h3 class="card-header card-title">{{ product.title }}</h3>
            <img src="{{ product.coverImage }}" alt="" width="100%" height="200">
        </a>
        <div class="card-body">
            <p class="card-text">{{ product.title }}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
            Price : {{ product.price }} $
            {% if app.user and app.user == product.owner %}
            <a href="{{ path('products_edit', {'slug': product.slug}) }}" class="btn btn-secondary float-right">Modifier le produit</a>
            {% endif %}
            </li>
            <li class="list-group-item text-center">
            {% if product.comments|length > 0 %}
                {% include 'partials/rating.html.twig' with {'rating': product.avgRating} %}
            {% else %}
                Pas encore noté
            {% endif %}
            </li>
            
        </ul>
    </div>
</div>