{% extends 'base.html.twig' %}

{% block title %}{{ product.title }}{% endblock %}

{% block body %}
<div class="product-title" style="background-image: url({{ product.coverImage }})">
    <div class="container">
        <h1>{{ product.title }}</h1>
        
        <p class="h2">
            Prix <strong>{{ product.price }} $</strong> 
        </p>
        <a href="#" class="btn btn-primary">Acheter !</a>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8 mb-3">
            {{ product.description|raw }}

            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for image in product.images %}
                    <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}" {% if loop.first %}class="active"{% endif %}></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for image in product.images %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <img class="d-block w-100" src="{{ image.url }}" alt="slide {{ loop.index0 }}">
                        <div class="carousel-caption d-none d-md-block">
                            <p>{{ image.caption }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col-4">
                    <img src="https://picsum.photos/id/1005/100/100" alt="avatar Yahya SAMADI">
                </div>
                <div class="col">
                    <h3>Yahya SAMADI</h3>
                    <span class="badge badge-primary">3 produits</span>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea recusandae omnis vel tempora molestias illo numquam provident maxime in odio!</p>
            <p>Voluptas repudiandae ipsa voluptatem perferendis aliquam, sequi, cumque laborum eos omnis repellendus reprehenderit alias impedit assumenda hic cupiditate error quam?</p>
            <p>Hic, nihil ipsa placeat impedit ea soluta tempora. Non, repellendus. Repellendus mollitia cumque error distinctio animi! Reprehenderit suscipit commodi voluptatibus.</p>
        </div>
    </div>
</div>

{% endblock %}
