{% extends 'base.html.twig' %}

{% block title %}{{ product.title }}{% endblock %}

{% block body %}
<div class="product-title" style="background-image: url({{ product.coverImage }})">
    <div class="container">
        <h1>{{ product.title }}</h1>
        
        <p class="h2">
            Prix <strong>{{ product.price }} $</strong> 
        </p>
        <a href="#" class="btn btn-primary">Acheter !</a>
        {% if app.user and app.user == product.owner %}
        <a href="{{ path('products_edit', {'slug': product.slug}) }}" class="btn btn-secondary">Modifier le produit</a>
        <a href="{{ path('products_delete', {'slug': product.slug}) }}" class="btn btn-danger" onclick="return confirm(`Êtes vous sure de vouloir supprimer le produit : {{product.title}} .`)">Supprimer le produit</a>
        {% endif %}
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8 mb-3">
            {{ product.description|raw }}

            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    {% for image in product.images %}
                    <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}" {% if loop.first %}class="active"{% endif %}></li>
                    {% endfor %}
                </ol>
                <div class="carousel-inner">
                    {% for image in product.images %}
                    <div class="carousel-item {% if loop.first %}active{% endif %}">
                        <img class="d-block w-100" src="{{ image.url }}" alt="slide {{ loop.index0 }}">
                        <div class="carousel-caption d-none d-md-block">
                            <p>{{ image.caption }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        <div class="col">
            {% set p = product.owner %}
            <div class="row">
                <div class="col-3">
                    <a href="{{ path('user_show', {'slug' : p.slug }) }}">
                        <img src="{{ p.picture }}" class="avatar avatar-medium" alt="Avatar de {{ p.fullName }}">
                    </a>
                </div>
                <div class="col">
                
                    <a href="{{ path('user_show', {'slug' : p.slug }) }}">
                        <h3>{{ p.fullName }}</h3>
                    </a>
                    <span class="badge badge-primary">{{ p.products | length }} produits</span>
                </div>
            </div>
            {{ p.description | raw}}
        </div>
    </div>
</div>

{% endblock %}
